/*------General code-------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --white-color: #ffffff;
    --yellow-color: #FBC009;
    --book-now: #F64D11;
    --dark-color:rgba(255, 255, 255, 0);
    --black-color: #000000;
    --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

/* fonts you can use

font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */


/*---x---General code---x----*/


/*----------header-------------*/
.header{
    position: relative;
}

/*----Navbar-------*/
.navbar{
    padding: 16px;
    background: linear-gradient(rgba(9, 32, 50, 0.6), rgba(9, 32, 50, 0.6));
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.navbar-brand h1{
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
    color: var(--white-color);
}

nav a.nav-links{
    letter-spacing: 0.0375rem;
    cursor: pointer;
}

nav ul li{
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar-nav > li > a{
    margin-left: 0.17rem;
    margin-right: 0.17rem;
    color: var(--white-color) !important;
    border-bottom: 0.1875rem solid var(--dark-color);
}



.navbar-nav > li > a:active, .navbar-nav > li > a:focus{
    border-bottom: 0.1875rem solid var(--white-color);
}

.navbar-nav > li > a:hover{
    border-bottom: 0.1875rem solid var(--white-color);
}

/*-------BTN---------*/

.btn-brand{
    font-weight: 700;
    font-size: 15px;
    background: var(--yellow-color);
    display: flex;
    justify-content:center;
    align-items: center;
}

.btn-brand span i{
    font-size: 23px;
}


.btn-brand:hover{
    background: var(--book-now);
    color: var(--white-color);
}

/*---x----Navbar--x-----*/



/*----------hero-------*/
#hero{
    background:linear-gradient(rgba(9, 32, 50, 0.4), rgba(9, 32, 50, 0.4)), url("../images/3.jpg") no-repeat center center/cover ;
    height: 100vh;
}
.header .hero-space{
    padding-top: 7px;
    color: rgba(0, 0, 0, 0);
} 

.header .hero-section{
    position: absolute;
    top: 30%;
    left: 3%;
    text-align: left;
}


.header .hero-section h1{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--yellow-color);
    font-size: 40px;
}

.header .hero-section h3{ 
    font-weight: bold;
    color: var(--white-color);
    font-size: 60px;
}

.header .hero-section p{ 
    text-transform: uppercase;
    font-weight:500;
    color: var(--white-color);
    font-size: 14px;
}

.header .hero-section .btn-hero{
    background-color: var(--book-now);
    padding: 13px 40px;
    color: var(--white-color);
    font-weight: 400;
}

.header .hero-section .btn-hero:hover{
    background: #FBC009;
    color: var(--black-color);
}

/*---x-------hero-------x-----*/

/*---x-------header------x-------*/




/*----------Services Section------x-------*/
.services-section{
    /*background-image: linear-gradient(rgba(185, 184, 245, 0.89), rgba(255, 255, 255, 0.8)), url("/assets/images/black.jpg");
    */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.card{
    margin: 0 0 16px 16px;
    transition: 0.2ms ease-out;
    }

.card:hover{
    bottom: 15px;
    width: 23rem;
}

.card-body{
    background-color: #000;
    color: #ffffff;
}

.title{
    padding: 60px 0 20px 0;
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 40px;
}

.card-title{
    padding: 0 0 16px 0;
}

.card-text{
    padding: 0 0 16px 0;
}

.btns{
    padding: 16px 0 16px 0;
}

.card-img-top{
    
    background: url("/assets/images/1.jpg") no-repeat;

}

.btn-book{
    background-color: #F64D11;
    color: #ffffff;
    font-size: 16px;
    border: solid #000 1px;
    transition: 0.4s;
    font-weight: bold;
    padding: 8px 16px;
}

.btn-card{
    background-color: #fbc009;
    color: #000;
    font-size: 16px;
    border: solid #000 1px;
    transition: 0.10000ms;
    font-weight: bold;
    padding: 6px 12px;
}

.btn-card:hover{
    background-color: #F64D11;
    color: #ffffff;
}
.btn-book:hover{
    background-color: #fbc009;
    color: #000;
}

i{
    padding-right: 10px;
}

/*----------Services Section------x-------*/